.status-box {
  //height: 20px;
  width: 440px;
  border: 3px solid #ffffff;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  font-size: 20px;
  color: white;
  border-bottom-right-radius: 120px;
  background-color: gray;
}

.name {
  float: left;
  font-weight: bold;
  font-size: 1em;
}
.timestamp {
  float: right;
  font-size: 0.6em;
  font-weight: normal;
}

.details {
  line-height: 2;
  float: none;
  font-size: 0.6em;
  font-weight: normal;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
  color: black;
}

.clear {clear:both;}

