.status-box {
  height: 20px;
  width: 440px;
  border: 6px solid black;
  margin: 7px;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  color: gray;
  border-radius: 25px;
/*  background-color: gray;*/
}